body {
  background-color: rgb(238, 238, 194);
}

h1 {
  color: blue;
}

p {
  color: red;
}

.header {
  margin: 1px;
  min-height: 20px;
  font-size: 40px;
  background-color: violet;
}

#navbar ul { 
	margin: 0; 
	padding: 5px; 
	list-style-type: none; 
	text-align: right; 
	background-color: #000; 
	} 
 
#navbar ul li {  
	display: inline; 
	} 
 
#navbar ul li a { 
	text-decoration: none; 
	padding: .2em 1em; 
	color: #fff; 
	background-color: #000; 
	} 
 
#navbar ul li a:hover { 
	color: #000; 
	background-color: #fff; 
	} 