body {
	background-color: rgb(22 22 17);
	font-family: monospace;
	color: whitesmoke;
	text-decoration: none;
  }

  div a {
	text-decoration: none;
	color: whitesmoke;
  }

  div a:hover {
	color: wheat;
  }
  
  #navbar ul { 
	  list-style-type: none; 
	  text-align: right; 
	  } 
   
  #navbar ul li {  
	  display: inline; 
	  } 
   
  #navbar ul li a { 
	  text-decoration: none; 
	  padding: .2em 1em; 
	  color: #fff; 
	  background-color: #000; 
	  } 
   
  #navbar ul li a:hover { 
	  color: #000; 
	  background-color: #fff; 
	  } 